#wrapper {
    margin: 0 20% 0 20%;
}

.btn-group {
    margin-bottom: 20px;
}

#secondaryInput {
    height: 54px;
}

#mainInput {
    resize: none;
}

#mainOutput {
    height: 200px;
}
#runClear {
    float: right;
}