#wrapper {
    margin: 0 20% 0 20%;
}

.btn-group {
    margin-bottom: 40px;
}

#secondaryInput {
    height: 54px;
}

#mainInput {
    resize: none;
}

#execute {
    position: relative;
    right: -50px;
}